body {
  font-family: sans-serif;
  width: 950px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  border: 1px solid #ccc;
  padding: 5px;
  float: left;
  clear: both;
  width: 100%;
  margin-bottom: 20px;
}

.section h2 {
  margin: -5px;
  margin-bottom: 5px;
  padding: 5px;
  background: #ccc;
}

.section p {
  margin-top: 3px;
  margin-bottom: 0;
}

p label {
  float: left;
  width: 250px;
}

#network_init ul {
  margin: 0;
  padding: 5;
  width: 100%;
  list-style: none;
  float: left;
  background: #ccc;
}

#network_init ul li {
  float: left;
  margin-right: 10px;
}

#network_init ul li a {
  display: block;
  text-decoration: none;
  color: #888;
  font-size: 1.25em;
}

#network_init ul li a.active {
  font-weight: bold;
  color: black;
}

#init_script textarea {
  width: 100%;
  height: 350px;
}

#init_controls h3 {
  margin-top: 15px;
  margin-bottom: 5px;
  padding: 5px;
  background: #efefef;
}

#init_controls h3 a {
  margin-right: 10px;
}

#initial_phase_holder {
  padding: 5px;
}

#initial_phase_holder td.radio {
  text-align: center;
}

#network_holder {s
  position: relative;
  clear: both;
}

#network {
  float: left;
}

#graph_holder {
  float: left;
}

#graph_holder ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#graph_holder ul li {
  float: left;
}

#graph_holder ul li a {
  display: block;
  padding: 5px;
  border-left: 1px solid black;
}

#graph_holder ul li a.active {
  background: #ddd;
}
    